.pai {
    width: 50%;
    height: 350px;
    background-color: rgb(0, 0, 1);
    border: solid 5px goldenrod;
    border-radius: 10px;
    margin: auto;
    display: flex;
}

.bola {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: auto;

}

.text {
    font-size: 30px;
    margin: 30px;
    font-style: italic;
    color:white;
}